$black: #000000;
$white: #e5e7eb;
$green: #22c55e;
$blue: #60a5fa;
$purple: #a78bfa;
$gray: #52525b;
$red: #f87171;

$background: $black;
$foreground: $white;
$heading-before: $blue;
$link: $white;
$selection: $gray;

$font-regular: 16px;

$break-xs: 576px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1280px;

$link-decoration: underline;
$link-decoration-hover: underline;
